<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Project | Coder:Decoded</title>
    <link rel="stylesheet" href="/styles/create.css">
    <script type="module" src="/scripts/matrixEffects/matrixCluster.js" defer></script>
</head>
<body>

<% if(!profile){profile = "User"} %>
<canvas class="canvas" id="canvas"></canvas>
  
  
  
<div class="user">Hello, <%= profile %></div>
  <div class="quoteBox">
    <div class="quote">"Random quote here"</div>
  </div>

<div class="container">
  <div class = "miniHeader">
    <!--<div class="back"><a href="/profile"><button>Back</button></a></div>
    <a class="signOut" href="/logout"><button>Sign Out</button></a>-->
  </div>
  
  <form>
    <div class="form formTitle">
      <label for="title">Project Title</label>
      <input type="text" name="title" id="title" placeholder="Default Name">
    </div>
  
  
    <div class="form formDescription">
      <label for="description">Project Description</label>
      <input type="text" class="inputBox" name="description" id="description" placeholder="Project Description">
    </div>
    
    
    <div class="form formTasks">
      <label for="tasks">Project Tasks (optional)</label>
      <input type="text" name="tasks" id="tasks" placeholder="First task...">
      <div class="taskList" id="taskList">
    </div>
  </div>
    
  
  <div class="form formTechs">
      <div class="dropdowns">

        
        <div class="dropdown" id="jsDropdown">
          <div class="dropdownInfo">
            <div class="dropdownImage"><img src="/images/002-js.png"></div>
            <div class="dropdownTitle">Javascript</div>
          </div>
          <div class="menu" id="jsMenu"></div>
        </div>


        <div class="dropdown" id="pythonDropdown">
          <div class="dropdownInfo">
            <div class="dropdownImage"><img src="/images/001-python.png"></div>
            <div class="dropdownTitle">Python</div>
          </div>
          <div class="menu" id="pythonMenu"></div>
        </div>


        <div class="dropdown" id="cppDropdown">
          <div class="dropdownInfo">
            <div class="dropdownImage"><img src="/images/003-c.png"></div>
            <div class="dropdownTitle">C++</div>
          </div>
          <div class="menu" id="cppMenu"></div>
        </div>


        <div class="dropdown" id="csDropdown">
          <div class="dropdownInfo">
            <div class="dropdownImage"><img src="/images/004-c-sharp.png"></div>
            <div class="dropdownTitle">C#</div>
          </div>
          <div class="menu" id="csMenu"></div>
        </div>
      </div>

      <div class="techList" id="techList">
      </div>
    </div>
    
    
    
    
    <div class="quote">"... the red button, or the blue button?"</div>
  </form>
  
</div>
  <div class="form buttons">
    <div class="button redBtn"><button type="submit" id="create">Create</button></div>
    <div class="button blueBtn"><button type="cancel" id="cancel">Cancel</button></div>
  </div>
</div>

<div class="footer"></div>
      <script type="module" src="/scripts/createProject/create.js"></script>
      <script type="module" src="/scripts/createProject/createFetch.js"></script>
  <!--
  <a href="https://www.flaticon.com/free-icons/python" title="python icons">Python icons created by Freepik - Flaticon</a>
  -->
</body>
</html>