<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%=project%></title>
</head>
<body>
    <canvas id="canvas"></canvas>
    <div class="back"><a href="/profile"><button>Back</button></a></div>
    <div class = "miniHeader">
        <div class="quote"></div>
        <div class="user">Hello, <%= profile %></div>
        <div class="signOut">
            <a href="/logout"><button>Sign Out</button></a>
        </div>
    </div>
    
    <div class="container">
        <div class="form">
            <form>
                <div class="formTitle">
                    <input type="text" name="title" placeholder="Project Title">
                </div>
                <div class="formDescription">
                    <input type="text" name="description" placeholder="Project Description">
                </div>
                <div class="formTasks">
                    <input type="text" name="tasks" placeholder="Project Tasks">
                </div>
                <div class="formTechs">
                    <div class="dropdowns">
                        <div class="dropdown javascript"></div>
                        <div class="dropdown python"></div>
                        <div class="dropdown C++"></div>
                        <div class="dropdown C#"></div>
                    </div>
                    <div class="techsList"></div>
                </div>
                <div class="quote">"... the red button, or the blue button?"</div>
                <div class="buttons">
                    <div class="button redBtn"><button type="submit" id="create">Create</button></div>
                    <div class="button redBtn"><button type="cancel" id="cancel">Cancel</button></div>
                </div>
            </form>
        </div>
</body>
</html>