<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <div class="title">Coder:Decoded</div>
        <div class="buttons">
            <button class="signIn" id="In">sign in</button>
            <button class="signUp" id="Up">sign up</button>
        </div>
    </div>

    <div class="article"></div>
    <canvas></canvas>
</body>
</html>