<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coder:Decoded | Home</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <canvas id="canvas"></canvas>
    <div class="navbar">
        
        <div class="title">Coder:Decoded</div>
        <div class="buttons">
            <button class="button" id="In" onclick="window.location.href='/signIn'">Sign In</button>
            <button class="button" id="Up" onclick="window.location.href='/signIn/signUp'">Sign Up</button>
        </div>
    </div>

    <div class="article">
        <div class="line">
            <div class="tag"><</div>
            <div class="info">info</div>
            <div class="tag">></div>
            <div class="text">The place to decode your journey as a programmer.</div>
            <div class="tag"><</div>
            <div class="info">info</div>
            <div class="tag">></div>
        </div>
    </div>
    <div class="article">
        <div class="line">
            <div class="tag"><</div>
            <div class="info">info</div>
            <div class="tag">></div>
            <div class="text">Coder:Decoded uses ChartJS to provide high quality graphs depicting your skills as a Coder.</div>
        </div>

        <div class="line">
            <div class="text">Simply log your time, and Coder:Decoded will convert your data into graphs, allowing you to</div>

        </div>
        <div class="line">
            <div class="text">explore your time visually, as well as display your profile to whoever may be interested.</div>
            <div class="tag"><</div>
            <div class="info">info</div>
            <div class="tag">></div>
        </div>
    </div>



    <script src="/scripts/matrixEffects/matrix.js"></script>
</body>
</html>