<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>____ 's profile</title>
</head>
<body>
    Their profile
</body>
</html>