:root {
    --green: rgb(50, 255, 50);
    --blue: rgb(180, 180, 255);
    --red: rgb(255, 80, 80);
    --bg1: rgba(93, 122, 141, 0.205);
    --bg2: rgba(37, 59, 78, 0.801);
}

*{
    margin: 0;
    padding: 0;
}

canvas{
    position:absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

body{
    background-color: black;
    overflow-x: hidden;
    color: var(--green);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}

img{
    width: 100%;
    max-width: 20px;
}

input {
    color: var(--green);
}

.back{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 3rem;
    height: 2rem;
}

.signOut{
    position: absolute;
    right: 10%;
    top: 5%;
    width: 3rem;
    height: 2rem;
}

a button{
    color: var(--red);
    text-shadow: 0px 0px 2px red;
    background-color: var(--bg1);
    opacity: 0.8;
    border: solid 1px white;
    box-shadow: 0px 0px 2px silver;
}

a button:hover{
    color: white;
    text-shadow: 0px 0px 1px silver;
    background-color: var(--bg1);
    opacity: 0.8;
    border: solid 1px white;
    box-shadow: 0px 0px 4px silver;
}

a button:active{
    color: white;
    text-shadow: 0px 0px 1px silver;
    background-color: var(--bg1);
    opacity: 0.8;
    border: solid 1px white;
    box-shadow: 0px 0px 4px silver;
}

.user{
    font-size: 2.5rem;
    text-shadow: 0px 0px 2px green;
    margin-top: 40px;

}

.quoteBox{
    width: 45%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    
}

.quote{
    text-shadow: 0px 0px 2px green;
    margin-bottom: 10px;
}

.container{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg1);
    opacity: .8;
    /*border: solid 1px white;*/
    box-shadow: 0px 0px 2px silver;
    border-radius: 2px;
    backdrop-filter: blur(2px);
}

.miniHeader{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

form{
    width: 60%;
}

form label{
    font-size: large;
    color: var(--green);
    text-shadow: 0px 0px 2px green;
}

.form{
    padding: 10px 0;
}

.formTitle{
    display: flex;
    flex-direction: column;
}

.formTitle input{
    background-color: var(--bg1);
    opacity: 0.8;
    margin-top: 5px;
    border: none;
    box-shadow: 0px 0px 2px silver;
}

.formDescription{
    display: flex;
    flex-direction: column;
}

.formDescription input{
    min-height: 5rem;
    background-color: var(--bg1);
    opacity: 0.8;
    margin-top: 5px;
    border: none;
    box-shadow: 0px 0px 2px silver;
}

::placeholder{ 
    text-align: left;
    text-shadow: 0px 0px 0.5px silver;
    text-transform: uppercase;
    font-size: x-small;
}

.inputBox{
    padding-left: 5px;
    /* padding-bottom: 100px;*/
}

.formTasks{
    display: flex;
    flex-direction: column;
}

.formTasks input{
    min-height: 1.5rem;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: var(--bg1);
    opacity: .8;
    border:none;
    box-shadow: 0px 0px 2px silver;
}

.taskList{
    width: 100%;
    color: var(--blue);
    text-shadow: 0px 0px 3px blue;
    font-weight: 600;
}

.taskItem:hover{
    text-decoration: underline;
    cursor: pointer;
    color: white;
    text-shadow: 0px 0px 1px silver;
}

.formTechs{
    display: flex;
    flex-direction: column;
}

.dropdowns{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.dropdown{
    background-color: var(--bg2);
    display: flex;
    flex-grow: 1;
    margin: 5px 10px;
    padding: 3px 5px;
    border: none;
    box-shadow: 0px 0px 2px silver;
    border-radius: 3px;
    height: 2rem;
    align-items: center;
    font-weight: 700;
    font-size: .75rem;
    position: relative;
}

.dropdown:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.137);
}

.dropdownImage{
    width: 1rem;
    max-width: 100%;
    margin-right: 5px;
}

.menu{
    background-color: black;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%);
}

.invisible{
    display: none;
    opacity: 0;
}

.option{
    border: solid 1px var(--green);
    margin: 1px 0;
    width: 60px;
}


.option::hover{
    background-color: rgba(71, 94, 114, 0.801);
}

.active{
    display: block;
    opacity: 1;
}




/*         */
.techsList{
    min-height: 200px;
}

.techItem{
    border: solid 1px white;
    width: 50%;
}

.techItem:hover{
    cursor:pointer;
    background-color: rgba(255, 255, 255, 0.137);
}

.buttons{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.button button{
    background-color: rgba(0, 0, 0, 0.342);
    font-weight: 700;
    border-radius: 3px;
    height: 2rem;
    width: 6rem;
}

.blueBtn button{
    margin: 5px 0;
    color: var(--blue);
    border: solid 3px var(--blue);
    text-shadow: 0px 0px 3px blue;
    box-shadow: 0px 0px 3px blue;

}

.redBtn button{
    margin: 5px 0;
    color: var(--red);
    border: solid 3px var(--red);
    text-shadow: 0px 0px 2px red;
    box-shadow: 0px 0px 2px red;
}

.footer{
    height: 100px;
    background-color: white;
}